out/
target/
build/
site/
assets/
!src/main/resources/static/assets/

frontend/node_modules/
frontend/dist/

.gradle
!gradle/wrapper/gradle-wrapper.jar

.sdkmanrc

.idea
*.iws
*.iml
*.ipr

.vscode/
.tool-versions

.DS_Store
